<h3>Menu</h3>
<br/>
<ul class="list-group">
    <a href="/admin">
        <li class="list-group-item">Home</li>
    </a>
    <a href="/admin/products">
        <li class="list-group-item">Products</li>
    </a>
    <a href="/admin/webmail">
        <li class="list-group-item">Email</li>
    </a>
    <a href="/logout">
        <li class="list-group-item">Logout</li>
    </a>
</ul>