<!-- Footer Section -->
<div class="row no-gutters" id="footer">
  <div class="col-md-2 mx-auto">
    <table border="0" id="foot-tab">
      <tr>
        <th>Company</th>
      </tr>
      <tr>
        <td><a href="/" title="Home" class="deco-none">Home</a></td>
      </tr> 
      <tr>
        <td><a href="/about" title="About" class="deco-none">About Us</a></td>
      </tr> 
      <tr>
        <td><a href="/contact" title="Contact" class="deco-none">Contact Us</a></td>
      </tr> 
    </table>
  </div>
  <div class="col-md-3 mx-auto">
    <table border="0" id="foot-tab">
      <tr>
        <th>Weighing Solutions</th>
      </tr>
      <tr>
        <td>Industrial Weighing Segment</td>
      </tr> 
      <tr>
        <td>Retail Weighing Segment</td>
        <td></td>
      </tr> 
      <tr>
        <td>Laboratory Weighing Segment</td>
      </tr> 
    </table>
  </div>
  <div class="col-md-2 mx-auto">
    <table border="0" id="foot-tab">
      <tr>
        <th>Social</th>
      </tr>
      <tr>
        <td><a href="https://www.facebook.com/pawanindustries/" target="new" class="deco-none" title="Facebook Page"> <i class="fab fa-facebook-square"></i> &nbsp; Facebook</a></td>
      </tr> 
      <tr>
        <td><a href="#" class="deco-none" title="Instagram Page"> <i class="fab fa-instagram"></i> &nbsp; Instagram</a></td>
        <td></td>
      </tr> 
      <tr>
        <td><a href="#" class="deco-none" title="Google+ Page"> <i class="fab fa-google-plus"></i> &nbsp; Google+</a></td>
      </tr> 
    </table>
  </div>
  <div class="col-md-2 mx-auto">
    &nbsp; &nbsp; &nbsp; &nbsp;
    <img class="img-responsive mx-auto" src="/assets/logo-pawan.png" height="120" alt="Logo" title="Pawan Industries | Total Weighing Solutions">
    <br>
    <span id="footer-brand">Pawan Industries</span>
    <br>
    <span id="copyright">&copy; Pawan Industries<sup>&trade;</sup> 2018</span>
    <br>
    <span id="t-and-c">T&amp;C | Privacy Policy</span>
  </div>
    
  <span id="hr"></span>
  <div id="hr"></div>
  <p id="seo-about">PAWAN INDUSTRIES provide a wide range of quality weighing products and services to various industries and retail clients. All our products are built with efficiency, precision and quality assurance.</p>
  <!-- Footer Section Ends -->
    
</div>