<footer class="container-fluid">
    <div class="container" style="margin-top:10px;margin-bottom:10px;">
        <div class="row">
            <div class="col-lg-8" style="valign:top;">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-md-3 text-left">
                        <h3 class="footer-links-title">COMPANY</h3>
                        <ul class="footer-links">
                            <li>
                                <i class="fas fa-home"></i> &nbsp; <a href="/">Home</a>
                            </li>
                            <li>
                                <i class="fas fa-info-circle"></i> &nbsp; <a href="/about">About</a>
                            </li>
                            <li>
                                <i class="fas fa-phone"></i> &nbsp; <a href="/contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-5 text-left">
                        <h3 class="footer-links-title">WEIGHING SOLUTION</h3>
                        <ul class="footer-links">
                            <li>
                                <i class="fas fa-industry"></i> &nbsp; <a href="/products">Industrial Weighing Segment</a>
                            </li>
                            <li>
                                <i class="fas fa-shopping-cart"></i> &nbsp; <a href="/products">Retail Weighing Segment</a>
                            </li>
                            <li>
                                <i class="fas fa-flask"></i> &nbsp; <a href="/products">Laboratory Weighing Segment</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 text-left">
                        <h3 class="footer-links-title">SOCIAL</h3>
                        <ul class="footer-links">
                            <li>
                                <i class="fab fa-facebook-square"></i> &nbsp; <a href="https://www.facebook.com/pawanindustries" target="_blank">Facebook</a>
                            </li>
                            <li>
                                <i class="fab fa-instagram"></i> &nbsp; <a href="https://www.instagram.com/weighing_india/" target="_blank">Instagram</a>
                            </li>
                            <li>
                                <i class="fab fa-google-plus"></i> &nbsp; <a href="#">Google+</a>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
            <div class="col-lg-3">
                <img class="pi-logo" src="/assets/logo-pawan1.png" alt="logo">
                <br/> &copy; PAWAN INDUSTRIES<sup>&reg;</sup> <script type="text/javascript">document.write(new Date().getFullYear());</script>
                <br/>
                <a href="/terms" style="color:#7f7f7f;">T&C</a> | <a href="/privacy" style="color:#7f7f7f;">Privacy
                    policy</a>

                <div class="col-lg-12">
                    <span id="developer-signature">Developed By: <a href="https://www.linkedin.com/in/paras-agg" target="_blank">Paras Aggarwal</a></span>
                </div>
            </div>

        </div>

        <hr style="background-color:#262626;height:2px;">
        <p class="text-left">PAWAN INDUSTRIES provide a wide range of quality weighing products and services to various industries and retail clients. All our products are built with efficiency, precision and quality assurance.</p>
    </div>
</footer>