<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark" id="nav">
  <a class="navbar-brand" href="/"><img class="img-responsive" src="/assets/logo-pawan.png" height="50" alt="Logo" title="Pawan Industries | Total Weighing Solutions" id="logo"> <span id="brand">Pawan Industries</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">

    	<li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/products">Products</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact Us</a>
      </li>
      
    </ul>
  </div>
</nav>
<!-- Navigation Bar Ends -->