<html>
<head>
  <% include ../partials/header %>
  <% include ../partials/meta %>
  <title>About | Pawan Industries</title>

</head>

<body>

  <header>
    <div class="row no-gutters">
      <div class="col-md-12">
        <% include ../partials/nav %>
      </div>
    </div>
  </header>

  <!-- Main Section -->
  <div class="row no-gutters">
    <div class="col-md-12 mx-auto">
      <div class="text-center" id="head">About Us</div>
    </div>
  </div>

  <br>

  <div class="container">
    <div class="col-md-12" id="describe">
      <p>Founded in 1975, <strong>Pawan Industries</strong> provide a wide range of quality weighing products and services to various industries and retail clients. All our products are built with efficiency, precision and quality assurance. Since the inception, <strong>Pawan Industries</strong> has constantly evolved its product line which today has become one of the most comprehensive, respected and likeable range of products in the market backed by responsive & dedicated after sales service team.</p>
      <p>It is a continuous and endless efforts of <strong id="highlight">Late Mr. M.L. Aggarwal</strong> followed by <strong id="highlight">Mr. S.K. Aggarwal</strong> which lead the company towards success.</p>
      <p>We have 42 years of expertise in the Weighing industry.</p>
      <p>We encourage creativity and innovation. Continuing with our endeavour to the best to our customers, we present fascinating, precise and innovative collection of weighing solutions in Industrial, Laboratory and Retail segments.</p>
      <div id="head">Our Mission:</div>
      <p>We are a group committed to provide the highest quality products. To achieve this, we constantly endeavour to exceed our client’s expectations. In doing so, we endure long term with our customers.</p>
      <p><strong>We are pioneer in providing solutions across industry as:</strong></p>
      <ul><span id="highlight">
        <li>Tank/Hopper/Silo weighing systems</li>
        <li>Laboratory Balances</li>
        <li>Weighing/ Counting Scales: Customised solutions for applications</li>
        <li>Barcode printing scales</li>
        <li>Waterproof Weighing Scales</li>
        <li>Crane scales</li>
        <li>Weighing Indicators : Normal &amp; ATEX Environment (Bagging, Filling, Dosing..)</li>
        <li>Load cells</li>
        <li>Weigh-bridge</li>
        <li>Check-weighers</li>
        <li>X-Ray systems</li>
        <li>Drum filling systems</li>
      </span></ul>
      <p>The offered devices are procured from most authentic vendors in the markets and are manufactured with advance technology.</p>
    </div>
  </div>

    <% include ../partials/footer %>
    <% include ../partials/modals %>

</body>
</html>