<html>

<head>
    <% include ../partials/header %>
        <% include ../partials/meta %>
            <title>About | Pawan Industries</title>

</head>

<body>

    <header>
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light sticky-top" id="nav">
                    <a class="navbar-brand" href="/"><img class="img-responsive" id="logo-image" src="/assets/logo-pawan1.png" height="40" alt="Logo" title="Pawan Industries | Total Weighing Solutions" id="logo"> <span id="brand">Pawan Industries</span></a>
                    <button type="button" aria-controls="sidebar" id="sidebarCollapse" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/">
                                    <button class="btn btn-outline-success nav-btn"><i class="fas fa-home"></i> Home</button>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">
                                    <button class="btn nav-btn-active"><i class="fas fa-info-circle"></i> About Us</button>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <button class="btn btn-outline-success nav-btn">
                                        <i class="fas fa-search"></i> Search
                                    </button>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div id="search-bar" style="width:20rem">
                                        <script>
                                            (function() {
                                                var cx = '016393719504244985253:ee_qjzshvoy';
                                                var gcse = document.createElement('script');
                                                gcse.type = 'text/javascript';
                                                gcse.async = true;
                                                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                                                var s = document.getElementsByTagName('script')[0];
                                                s.parentNode.insertBefore(gcse, s);
                                            })();
                                        </script>
                                        <gcse:search></gcse:search>
                                    </div>

                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/products">
                                    <button class="btn btn-outline-success nav-btn"><i class="fas fa-kaaba"></i> Products</button>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">
                                    <button class="btn btn-outline-success nav-btn"><i class="fas fa-envelope"></i> Contact Us</button>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <div class="wrapper">

            <nav id="sidebar">
                <div id="dismiss">
                    <i class="fas fa-arrow-left"></i>
                </div>

                <ul class="list-unstyled components">
                    <li>
                        <a href="/" style="padding: 10px"><i class="fas fa-home"></i> Home</a>
                    </li>
                    <li>
                        <a href="/about" style="padding: 10px"><i class="fas fa-info-circle"></i> About</a>
                    </li>
                    <li>
                        <a href="#searchSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="padding: 10px"><i class="fas fa-search"></i> Search</a>
                        <ul class="collapse list-unstyled" id="searchSubmenu">
                            <li>
                                <div id="search-bar" style="width:15rem">
                                    <script>
                                        (function() {
                                            var cx = '016393719504244985253:ee_qjzshvoy';
                                            var gcse = document.createElement('script');
                                            gcse.type = 'text/javascript';
                                            gcse.async = true;
                                            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                                            var s = document.getElementsByTagName('script')[0];
                                            s.parentNode.insertBefore(gcse, s);
                                        })();
                                    </script>
                                    <gcse:search></gcse:search>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="active">
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="padding: 10px"><i class="fas fa-kaaba"></i> Products</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a href="/products" style="padding: 10px">Industrial Segment</a>
                            </li>
                            <li>
                                <a href="/products" style="padding: 10px">Retail Segment</a>
                            </li>
                            <li>
                                <a href="/products" style="padding: 10px">Laboratory Segment</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/contact" style="padding: 10px"><i class="fas fa-envelope"></i> Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Main Section -->
    <div class="row no-gutters">
        <div class="col-md-12 mx-auto">
            <div class="text-center" id="heading">About Us</div>
        </div>
    </div>

    <div class="container">
        <div class="col-md-12" id="describe">
            <p>Founded in 1975, <strong>Pawan Industries</strong> provide a wide range of quality weighing products and services to various industries and retail clients. All our products are built with efficiency, precision and quality assurance. Since the inception, <strong>Pawan Industries</strong> has constantly evolved its product line which today has become one of the most comprehensive, respected and likeable range of products in the market backed by responsive & dedicated after sales service team.</p>
            <p>It is the continuous and endless efforts of <strong id="highlight">Late Mr. M.L. Aggarwal</strong> followed by <strong id="highlight">Mr. S.K. Aggarwal</strong> which lead the company towards success.</p>
            <p>We have 42 years of expertise in the Weighing industry.</p>
            <p>We encourage creativity and innovation. Continuing with our endeavour to the best to our customers, we present fascinating, precise and innovative collection of weighing solutions in Industrial, Laboratory and Retail segments.</p>
            <br>
            <div id="heading">Our Mission:</div>
            <p>We are a group committed to provide the highest quality products. To achieve this, we constantly endeavour to exceed our client’s expectations. In doing so, we endure long term with our customers.</p>
            <p><strong>We are pioneer in providing solutions across industry as:</strong></p>
            <ul><span id="highlight">
        <li>Tank/Hopper/Silo weighing systems</li>
        <li>Laboratory Balances</li>
        <li>Weighing/ Counting Scales: Customised solutions for applications</li>
        <li>Barcode printing scales</li>
        <li>Waterproof Weighing Scales</li>
        <li>Crane scales</li>
        <li>Weighing Indicators : Normal &amp; ATEX Environment (Bagging, Filling, Dosing..)</li>
        <li>Load cells</li>
        <li>Weigh-bridge</li>
        <li>Check-weighers</li>
        <li>X-Ray systems</li>
        <li>Drum filling systems</li>
      </span></ul>
            <p>The offered devices are procured from most authentic vendors in the markets and are manufactured with advance technology.</p>
        </div>
    </div>

    <% include ../partials/footer %>

</body>

</html>