<html>

<head>
    <script src="//cdn.ckeditor.com/4.4.7/full/ckeditor.js"></script>
    <% include ../partials/header %>
        <% include ../partials/meta %>
            <title>Admin | Pawan Industries | Total Weighing and Industrial Solutions</title>
</head>

<body>
    <div class="row no-gutters">
        <div class="col-md-12">
            <% include ../partials/admin-nav %>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <% include ../partials/admin-menu %>
            </div>
            <div class="col-lg-9">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active"><a href="/admin" class="admin-link">Admin Home</a></li>
                        <li class="breadcrumb-item active admin-link"><a href="/admin/products" class="admin-link">View All Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add Product</li>
                    </ol>
                </nav>
                <br/>
                <div class="card">
                    <div class="card-header">
                        Add New Product
                        <a href="/admin/products/add">
                            <button type="button" class="btn btn-primary float-right nav-btn-admin">+ New Product</button>
                        </a>
                    </div>
                    <div class="card-body">
                        <% if (!response) { %>
                            <% } else { %>
                                <div class="alert alert-info alert-dismissible fade show" role="alert">
                                    <p>
                                        <%= response %>
                                    </p>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <% } %>
                                    <form method="post" action="/admin/products/add">

                                        <div class="form-group">
                                            <label for="category">Category</label>
                                            <br/>
                                            <select class="custom-select" name="category" id="category">
                                                <option value="SINGLE">Contains Information</option>
                                                <option value="MULTIPLE">Contains Sub-Categories</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="type">Type</label>
                                            <br/>
                                            <select class="custom-select" name="type" id="type">
                                                <option value="MAIN">Show in main-menu</option>
                                                <option value="SUB">Don't show in main-menu</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="parent">Parent Alias (Mandatory if Type = Don't show in main-menu)</label>
                                            <input type="text" name="parent" class="form-control" id="parent" placeholder="e.g. Demo_Product_Alias">
                                        </div>

                                        <div class="form-group">
                                            <label for="name">Product Name</label>
                                            <input type="text" name="name" class="form-control" id="name" placeholder="e.g. Demo Machine" onInput="slugify()" required>
                                        </div>

                                        <div class="form-group">
                                            <label for="product_img">Product Image (Recommended Online Image Link)</label>
                                            <input type="text" name="product_img" class="form-control" id="product_img" placeholder="e.g. /assets/images/product-icon/algo.png">
                                        </div>

                                        <div class="form-group">
                                            <label for="description">Product Description</label>
                                            <textarea class="form-control" name="description" id="description"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label for="description_img">Product Description Image #1 (Recommended Online Image Link)</label>
                                            <input type="text" name="description_img" id="description_img" class="form-control" placeholder="e.g. /assets/images/product-icon/algo.png">
                                        </div>

                                        <div class="form-group">
                                            <label for="description_img2">Product Description Image #2 (Recommended Online Image Link)</label>
                                            <input type="text" name="description_img2" id="description_img2" class="form-control" placeholder="e.g. /assets/images/product-icon/algo.png">
                                        </div>

                                        <div class="form-group">
                                            <label for="videoLink">Product Video Link (Copy embed script link)</label>
                                            <input type="text" name="videoLink" class="form-control" id="videoLink" placeholder="e.g. https://youtu.be/IvEmYHKWfbc">
                                        </div>

                                        <div class="form-group">
                                            <label for="specifications">Specifications</label>
                                            <textarea class="form-control" name="specifications" id="specifications"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label for="dimension_img">Product Dimension Image (Recommended Online Image Link)</label>
                                            <input type="text" name="dimension_img" class="form-control" id="dimension_img" placeholder="e.g. /assets/images/product-icon/algo.png">
                                        </div>

                                        <div class="form-group">
                                            <label for="segment">Segment</label>
                                            <br/>
                                            <select class="custom-select" name="segment" id="segment">
                                                <option value="INDUSTRIAL">Industrial Weighing Segment</option>
                                                <option value="RETAIL">Retail Weighing Segment</option>
                                                <option value="LABORATORY">Laboratory Weighing Segment</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="alias">Alias</label>
                                            <input type="text" name="alias" class="form-control" id="alias" placeholder="e.g. assets_images_product" required>
                                        </div>

                                        <div class="form-group">
                                            <label for="visibility">Visibility</label>
                                            <br/>
                                            <select class="custom-select" name="visibility" id="visibility">
                                                <option value="VISIBLE">Visible to all</option>
                                                <option value="HIDDEN">Visible to admin only</option>
                                            </select>
                                        </div>

                                        <button type="submit" class="btn btn-primary nav-btn-admin">Add Product</button>
                                    </form>
                                    <script>
                                        CKEDITOR.replace('description');
                                        CKEDITOR.replace('specifications');
                                    </script>
                                    <script>
                                        function slugify() {
                                            let name = document.getElementById("name").value;
                                            let alias = document.getElementById('alias').value = name.toString().toLowerCase()
                                                .replace(/\s+/g, '-')           // Replace spaces with -
                                                .replace(/[^\w\-]+/g, '')       // Remove all non-word chars
                                                .replace(/\-\-+/g, '-')         // Replace multiple - with single -
                                                .replace(/^-+/, '')             // Trim - from start of text
                                                .replace(/-+$/, '');            // Trim - from end of text
                                        }
                                    </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <% include ../partials/footer %>
</body>

</html>