<html>

<head>
    <% include ../partials/header %>
        <% include ../partials/meta %>
            <title>Contact | Pawan Industries</title>

</head>

<body>

    <% include ../partials/nav %>

    <!-- Main Section -->
    <div class="row no-gutters">
        <div class="col-md-12 mx-auto">
            <div class="text-center" id="heading">Contact Us</div>
        </div>
    </div>
    <br>

    <div class="row no-gutters contact-info-row">
        <div class="col-md-6 mx-auto">
            
            <div class="row no-gutters">
                <span class="col-md contact-info-icons"><i class="fas fa-phone"></i></span>
                <div class="col-md">Sudhir Kumar</div>
                <div class="col-md"><a class="contact-link" href="tel:+919416026344">(India +91) 9416026344</a></div>
            </div>
            <div class="row no-gutters">
                <div class="col-md"></div>
                <div class="col-md">Akshit Aggarwal</div>
                <div class="col-md"><a class="contact-link" href="tel:+919992079494">(India +91) 9992079494</a></div>
            </div>
            <hr /> 
        </div>
    </div>
    
    <br />

    <div class="row no-gutters contact-info-row mx-auto">
        <div class="col-md-6 mx-auto">
            
            <div class="row no-gutters">
                <span class="col-md contact-info-icons"><i class="fas fa-map-marked-alt"></i></span>
                <div class="col-md">
                    <b>Address</b>
                    <address>
                        <u>PAWAN INDUSTRIES</u><br />
                        Opp. Housing Board Colony, <br />
                        Naraingarh Road, Ambala City - 134007 <br />
                        Haryana, India
                    </address>
                </div>
                <div class="col-md"></div>
            </div>
            <hr /> 
        </div>
    </div>

    <br />

    <div class="row no-gutters contact-info-row">
        <div class="col-md-6 mx-auto">
            <div class="row no-gutters">
                <span class="col-md contact-info-icons"><i class="fas fa-envelope"></i></span>
                <div class="col-md"><a class="contact-link" href="mailto:info@pawan-industries.in?subject=Regarding Query&body=Hi, ">info@pawan-industries.in</a></div>
                <div class="col-md"></div>
            </div>
            <div class="row no-gutters">
                <span class="col-md"></span>
                <div class="col-md"><a class="contact-link" href="mailto:pawan.industries@hotmail.com?subject=Regarding Query&body=Hi, ">pawan.industries@hotmail.com</a></div>
                <div class="col-md"></div>
            </div> 
        </div>
    </div>    

    <br /> <br />

        <!-- Map -->
        <!-- <div class="col-md-6"> -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3441.5738069870163!2d76.79154351529449!3d30.391457881757475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fc86fb04d0f19%3A0xe31dffe6c6cd0dcc!2sPawan+Industries!5e0!3m2!1sen!2sin!4v1537090549714" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCNruZm31QvHbhVQfw1yBvGFUoFMJO_6k&callback=myMap"></script> -->
        <!-- </div> -->
        <!-- Map Ends -->
    </div>

    <% include ../partials/footer %>

</body>

</html>


<!--

<div class="row no-gutters">
                <table class="table" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td id="identity">Sudhir Aggarwal</td>
                            <td id="role"></td>
                            <td>(India +91) <a class="contact-link" href="tel:+919416026344">9416026344</a></td>
                            <td>
                                <a href="tel:+919416026344" title="Call Sudhir Kumar">
                                    <button class="btn btn-success" id="call-btn">Call</button>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td id="identity">Akshit Aggarwal</td>
                            <td id="role"></td>
                            <td>(India +91) <a class="contact-link" href="tel:+919992079494">9992079494</td>
              <td><a href="tel:+919992079494" title="Call Er. Akshit Aggarwal"><button class="btn btn-success" id="call-btn">Call</button></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <br>
            <address>
        <div class="row no-gutters">
          <table class="table">
            <tbody>
              <tr>
                <td scope="col" id="name"><b>Address:</b></td>
                <td id="addr"><b>PAWAN INDUSTRIES</b><br>
                  Opp. Housing Board Colony,<br>
                  Naraingarh Road,<br>
                  Ambala City - 134007<br>
                  Haryana, India<br>
                  Ph: 171 - 2540344
                </td>
              </tr>
              <tr>
                <td scope="col" id="name"><b>Email:</b></td>
                <td id="mailId"><a class="contact-link" href="mailto:sales@pawanindustries.tech?subject=Regarding Query&body=Hi, " title="Email us">info@pawan-industries.in</a></td>
                <td id="mail-btn"><a href="mailto:info@pawan-industries.in?subject=Regarding Query&body=Hi, " title="contact via email"><button class="btn btn-success" id="call-btn">Mail</button></a></td>
              </tr>
              <tr>
                <td></td>
                <td id="mailId"><a class="contact-link" href="mailto:pawan.industries@hotmail.com?subject=Regarding Query&body=Hi, " title="Email us">pawan.industries@hotmail.com</a></td>
                <td id="mail-btn"><a href="mailto:pawan.industries@hotmail.com?subject=Regarding Query&body=Hi, " title="contact via email"><button class="btn btn-success" id="call-btn">Mail</button></a></td>
              </tr>
            </tbody>
        </table>
      </div>
    </address>

-->