<html>
<head>
	<% include ../partials/header %>
	<title>Dashboard - Pawan Industries</title>
</head>
<body>
	<div class="row no-gutters">
    	<div class="col-md-12">
        	<% include ../partials/admin-nav %>
      	</div>
    </div>
    <div class="container">
    	<div class="row">
        	<div class="col-lg-3">
        	    <% include ../partials/admin-menu %>
        	</div>
        	<div class="col-lg-9">
        	    <nav aria-label="breadcrumb">
        	        <ol class="breadcrumb">
        	            <li class="breadcrumb-item active" aria-current="page">Admin Home</li>
        	        </ol>
        	    </nav>
        	    <br/>
        	    <div class="card">
        	        <div class="card-header">
        	            Admin Dashboard
        	        </div>
        	        <div class="card-body">
        	            UNDER CONSTRUCTION
        	        </div>
        	    </div>
        	</div>
    	</div>
	</div>
	<br>
	<% include ../partials/footer %>
</body>
</html>