<html>
<head>
  <% include ../partials/header %>
  <% include ../partials/meta %>
  <title>404 Page Not Found | Pawan Industries</title>

</head>
<body>

  <header>
    <div class="row no-gutters">
      <div class="col-md-12">
        <% include ../partials/nav %>
      </div>
    </div>
  </header>
  
  <div class="row no-gutters">
    <div class="col-md-12 error-paddings-size">
      <center>
        <h1>Oops!</h1>
        <h3>We can't seem to find the page you're looking for.</h3>
        <h4>Error code: 404</h4>
      </center>
    </div>
  </div>

  <% include ../partials/footer %>
 
</body>
</html>