<html>
<head>
	<% include ../partials/header %>
	<% include ../partials/meta %>
	<title>Products | Load Cell</title>

</head>

<body>

	<header>
    	<div class="row no-gutters">
      		<div class="col-md-12">
        		<% include ../partials/nav %>
      		</div>
    	</div>
  	</header>

  	<img src="http://www.ednagroup.com/wp-content/uploads/2013/04/SCALES-WEIGHING-SOLUTIONS-LOAD-CELLS_Banner-v01.jpg" class="img-fluid loadCell-banner" width="100%">

  	<!-- Main Section -->  	
  	<div class="row no-gutters">
    	<div class="col-md-5 mx-auto">
      
    		<section>
  				<div class="container">
    				<div class="card">
      					<div class="row">
        					<div class="col-md-6">
          						<div class="card-block">
            						<h5 class="card-title">Single Point</h5>
            						<p class="card-text">Simple point type of load cell can be found.</p>
            						<a href="#" class="btn btn-primary" data-toggle="modal" data-target=".singlePoint-modal">Read More</a>
          						</div>
        					</div>
        					<div class="col">
          						<img src="http://eng.cas.co.kr/admincenter/files/code/BCL[1].jpg" clas="img-fluid" width="100%" height="190">
        					</div>
      					</div>
    				</div>
  				</div>
			</section>

    	</div>

    	<div class="col-md-5 mx-auto">
    		<section>
  				<div class="container">
    				<div class="card">
      					<div class="row">
        					<div class="col-md-6">
          						<div class="card-block">
            						<h5 class="card-title"> Double ended shear beam </h5>
            						<p class="card-text">Double ended shear beam type of load cell can be found.</p>
            						<a href="#" class="btn btn-primary" data-toggle="modal" data-target=".bendingSingle-modal">Read More</a>
          						</div>
        					</div>
        					<div class="col-md-6">
          						<img src="http://eng.cas.co.kr/admincenter/files/code/BSS.jpg" clas="img-fluid" width="100%" height="190">
        					</div>
      					</div>
    				</div>
  				</div>
			</section>

    	</div>
	</div>

	<div class="row no-gutters">
    	<div class="col-md-5 mx-auto">
      
    		<section>
  				<div class="container">
    				<div class="card">
      					<div class="row">
        					<div class="col-md-6">
          						<div class="card-block">
            						<h5 class="card-title">S-Beam</h5>
            						<p class="card-text">S-Beam type load shell in the shape of a S can be found.</p>
            						<a href="#" class="btn btn-primary" data-toggle="modal" data-target=".sbeam-modal">Read More</a>
          						</div>
        					</div>
        					<div class="col">
          						<img src="http://eng.cas.co.kr/admincenter/files/code/SBS.jpg" clas="img-fluid" width="100%" height="190">
        					</div>
      					</div>
    				</div>
  				</div>
			</section>

    	</div>

    	<div class="col-md-5 mx-auto">
    		<section>
  				<div class="container">
    				<div class="card">
      					<div class="row">
        					<div class="col-md-6">
          						<div class="card-block">
            						<h5 class="card-title">Pancake</h5>
            						<p class="card-text">Pancake type of load cell can be found.</p>
            						<a href="#" class="btn btn-primary" data-toggle="modal" data-target=".pancake-modal">Read More</a>
          						</div>
        					</div>
        					<div class="col-md-6">
          						<img src="http://eng.cas.co.kr/admincenter/files/code/LSS.jpg" clas="img-fluid" width="100%" height="190">
        					</div>
      					</div>
    				</div>
  				</div>
			</section>

    	</div>
	</div>

	<div class="row no-gutters">
    	<div class="col-md-5 mx-auto">
      
    		<section>
  				<div class="container">
    				<div class="card">
      					<div class="row">
        					<div class="col-md-6">
          						<div class="card-block">
            						<h5 class="card-title">Double Ended Shear Beam</h5>
            						<p class="card-text">Double ended shear beam type of load cell can be found.</p>
            						<a href="#" class="btn btn-primary" data-toggle="modal" data-target=".doubleShear-modal">Read More</a>
          						</div>
        					</div>
        					<div class="col">
          						<img src="http://eng.cas.co.kr/admincenter/files/code/DSB-1.jpg" clas="img-fluid" width="100%" height="190">
        					</div>
      					</div>
    				</div>
  				</div>
			</section>

    	</div>

    	<div class="col-md-5 mx-auto">
    		<section>
  				<div class="container">
    				<div class="card">
      					<div class="row">
        					<div class="col-md-6">
          						<div class="card-block">
            						<h5 class="card-title">Truck Weighing</h5>
            						<p class="card-text">Load cell suitable for truck and tank weighing can be found.</p>
            						<a href="#" class="btn btn-primary" data-toggle="modal" data-target=".truck-modal">Read More</a>
          						</div>
        					</div>
        					<div class="col-md-6">
          						<img src="http://eng.cas.co.kr/admincenter/files/code/WBK[1].jpg" clas="img-fluid" width="100%" height="190">
        					</div>
      					</div>
    				</div>
  				</div>
			</section>

    	</div>
	</div>

	<div class="row no-gutters">
		<div class="col-md-5 mx-auto">
    		<section>
  				<div class="container">
    				<div class="card">
      					&nbsp; &nbsp;<div class="row">
        					<div class="col-md-6">
          						<div class="card-block">
            						<h5 class="card-title">Digital</h5>
            						<p class="card-text">Digital load cell with built-in electric circuit in the body of the load cell can be found.</p>
            						<a href="#" class="btn btn-primary" data-toggle="modal" data-target=".digital-modal">Read More</a>
          						</div>
        					</div>
        					<div class="col-md-6">
          						<img src="http://eng.cas.co.kr/admincenter/files/code/WBK-D.jpg" clas="img-fluid" width="100%" height="190">
        					</div>
      					</div>
    				</div>
  				</div>
			</section>

    	</div>

    	<div class="col-md-5 mx-auto">

    	</div>
	</div>

	<br>

    	<% include ../partials/footer %>
    	<% include ../partials/modals %>

</body>
</html>