<html lang="en">

<head>
    <title>Admin Login | Pawan Industries | Total Weighing and Industrial Solution</title>
    <% include ../partials/header %>
        <% include ../partials/meta %>
</head>

<body>
    <header>
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light sticky-top" id="nav">
                    <a class="navbar-brand" href="/"><img class="img-responsive" id="logo-image" src="/assets/logo-pawan1.png" height="40" alt="Logo" title="Pawan Industries | Total Weighing Solutions" id="logo"> <span id="brand">Pawan Industries</span></a>
                    <button type="button" aria-controls="sidebar" id="sidebarCollapse" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/">
                                    <button class="btn btn-outline-success nav-btn"><i class="fas fa-home"></i> Home</button>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">
                                    <button class="btn btn-outline-success nav-btn"><i class="fas fa-info-circle"></i> About Us</button>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <button class="btn btn-outline-success nav-btn">
                                        <i class="fas fa-search"></i> Search
                                    </button>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div id="search-bar" style="width:20rem">
                                        <script>
                                            (function() {
                                                var cx = '016393719504244985253:ee_qjzshvoy';
                                                var gcse = document.createElement('script');
                                                gcse.type = 'text/javascript';
                                                gcse.async = true;
                                                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                                                var s = document.getElementsByTagName('script')[0];
                                                s.parentNode.insertBefore(gcse, s);
                                            })();
                                        </script>
                                        <gcse:search></gcse:search>
                                    </div>

                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/products">
                                    <button class="btn btn-outline-success nav-btn"><i class="fas fa-kaaba"></i> Products</button>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">
                                    <button class="btn btn-outline-success nav-btn"><i class="fas fa-envelope"></i> Contact Us</button>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <div class="wrapper">

            <nav id="sidebar">
                <div id="dismiss">
                    <i class="fas fa-arrow-left"></i>
                </div>

                <ul class="list-unstyled components">
                    <li>
                        <a href="/" style="padding: 10px"><i class="fas fa-home"></i> Home</a>
                    </li>
                    <li>
                        <a href="/about" style="padding: 10px"><i class="fas fa-info-circle"></i> About</a>
                    </li>
                    <li>
                        <a href="#searchSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="padding: 10px"><i class="fas fa-search"></i> Search</a>
                        <ul class="collapse list-unstyled" id="searchSubmenu">
                            <li>
                                <div id="search-bar" style="width:15rem">
                                    <script>
                                        (function() {
                                            var cx = '016393719504244985253:ee_qjzshvoy';
                                            var gcse = document.createElement('script');
                                            gcse.type = 'text/javascript';
                                            gcse.async = true;
                                            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                                            var s = document.getElementsByTagName('script')[0];
                                            s.parentNode.insertBefore(gcse, s);
                                        })();
                                    </script>
                                    <gcse:search></gcse:search>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="active">
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="padding: 10px"><i class="fas fa-kaaba"></i> Products</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a href="/products" style="padding: 10px">Industrial Segment</a>
                            </li>
                            <li>
                                <a href="/products" style="padding: 10px">Retail Segment</a>
                            </li>
                            <li>
                                <a href="/products" style="padding: 10px">Laboratory Segment</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/contact" style="padding: 10px"><i class="fas fa-envelope"></i> Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <br/>
    <div class="container-fluid pi-banner">
        <div class="container text-center pi-products-heading">
            <h1>
            Admin Login<br/>
        </h1>
            <br/>
            <br/>
            <br/>

            <form action="/login" method="post">
                <div>
                    <label>Username:</label>
                    <input type="text" name="username" />
                    <br/>
                </div>
                <div>
                    <label>Password:</label>
                    <input type="password" name="password" />
                </div>
                <div>
                    <input type="submit" value="Login" />
                </div>
            </form>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
    </div>
    <% include ../partials/footer %>
</body>
<script src="/assets/js/registration.js"></script>

</html>